*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dep
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.log
*.nav
*.out
*.out.ps
*.pdf
*.snm
*.src
*.synctex.gz
*.tar
*.toc
*.xwm
.idea/
.idea/workspace.xml
_build/
export/
test-output/
